*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    color: #111;
    font-family: 'Josefin Sans','ヒラギノ角ゴ','Noto Sans JP',sans-serif;
    width: 375px;
    position: relative;
}
.flex1 {
    display: flex;
}
.logo1 {
    margin: 22px 0px 20px 20px;
}
.mv {
    width: 266px;
    height: 410px;
    object-fit: cover;
    overflow: hidden;
    object-position: 45% 0%;
    border-radius: 0 0 0 50px;
}
.copy1Wrap {
    background-color: #FFFFFF;
    width: 217px;
    height: 44px;
    position: absolute;
    left: 22px;
    right: 139px;
    top: 162px;
}
.copy1 {
    font: italic 42px/41px 'Josefin Sans','sans-serif';
    width: 214px;
    height: 43px;
}
.copy2Wrap {
    display: inline-block; 
    background-color: #FFFFFF;
    width: 176px;
    height: 43px;
    position: absolute;
    left:24px;
    top: 205px;
}
.green {
    font: italic 34px/34px 'Josefin Sans','sans-serif';
    color: #00B21B;
    margin-right: 20px;
}
.copy2 {
    font: italic 42px/41px 'Josefin Sans','sans-serif';
    color: #111
}
.copy3Wrap {
    background-color: #FFFFFF;
    width: 232px;
    height: 19px;
    position: absolute;
    left:24px;
    top: 258px;
}
.copy3 {
    font: 700 13px/20px 'ヒラギノ角ゴ','sans-serif';
    color: #111
}
.btnWrap {
    background-color:#00B21B;
    border-radius: 45px;
    width: 220px;
    height: 45px;
    position: absolute;
    left:24px;
    top: 296px;
    text-align: center;
    padding-top: 12px;
}
.btn1 {
    font: 700 13px/20px 'ヒラギノ角ゴ','sans-serif';
    color: #FFFFFF;
    padding: 12px 25px 16px 26px;
}
.maincopy {
    font: bold italic 56px/57px 'Josefin Sans','sans-serif';
    color: #00B21B;
    text-align: center;
    position: absolute;
    left:70px;
    top: 388px;
}
.maincopy2 {
    font: 700 16px/16px 'ヒラギノ角ゴ','sans-serif';
    color: #00B21B;
    letter-spacing: 1.6px;
    text-align: center;
    margin-top:70px;
}
header p {
    font: 300 15px/27px 'ヒラギノ角ゴ','sans-serif';
    color: #111111;
    width: 335px;
    height: 177px;
    margin: 24px 20px 73px 20px;
}
.training {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 328px;
    height: 416px;
    padding: 20px 30px 25px 30px;
    position: relative;
    left:20px;
    top: -12px;
    margin-bottom: 30px;
}
.training h4 {
    font: 400 18px/53px 'Josefin Sans','sans-serif';
    color: #00B21B;
    margin: 0;
    padding: 0;
}
.training h3 {
    font: 600 22px/33px 'ヒラギノ角ゴ','sans-serif';
    color: #111111;
    margin: 0;
    padding: 0;
}
.training p {
    font: 300 14px/23px 'ヒラギノ角ゴ','sans-serif';
    color: #111111;
    margin-top: 25px;
}
.food {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 328px;
    height: 370px;
    padding: 20px 30px 25px 30px;
    position: relative;
    left:20px;
    top: -12px;
}
.food h4 {
    font: 400 18px/53px 'Josefin Sans','sans-serif';
    color: #00B21B;
    margin: 0;
    padding: 0;
}
.food h3 {
    font: 600 22px/33px 'ヒラギノ角ゴ','sans-serif';
    color: #111111;
    margin: 0;
    padding: 0;
}
.food p {
    font: 300 14px/23px 'ヒラギノ角ゴ','sans-serif';
    color: #111111;
    margin: 25px 0px 73px 0px;
}
.btn2Wrap {
    background-color:#00B21B;
    border-radius: 45px;
    width: 300px;
    height: 53px;
    text-align: center;
    padding-top: 15px;
    margin: 30px 0px 40px 38px;
}
.btn2 {
    font: 700 13px/20px 'ヒラギノ角ゴ','sans-serif';
    color: #FFFFFF;
    padding: 20px 65px 20px 65px;
}
#ourTrainer {
    background-color: #00B21B;
    color: #FFFFFF;
}
#ourTrainer h2 {
    font: 400 44px/40px 'Josefin Sans','sans-serif';
    padding: 40px 0px 5px 20px;
}
#ourTrainer h3 {
    font: 600 14px/14px 'ヒラギノ角ゴ','sans-serif';
    margin: 0px 0px 63px 22px;
}
.trainerWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-top: 2px solid #FFFFFF;
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
}
.trainerWrap img {
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
.trainer1 {
    background-color: #FFFFFF;
    color: #111111;
    width: 334px;
    height: 426px;
    border-radius: 10px;
}
.trainer1 p {
    font: 300 14px/21px 'ヒラギノ角ゴ','sans-serif';
    padding: 25px 35px 41px 20px;
}
.trainer2 {
    background-color: #FFFFFF;
    color: #111111;
    width: 334px;
    height: 426px;
    border-radius: 10px;
}
.trainer2 p {
    font: 300 14px/21px 'ヒラギノ角ゴ','sans-serif';
    padding: 25px 35px 41px 20px;
}
.trainer3 {
    background-color: #FFFFFF;
    color: #111111;
    width: 334px;
    height: 426px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.trainer3 p {
    font: 300 14px/21px 'ヒラギノ角ゴ','sans-serif';
    padding: 25px 35px 41px 20px;
}
.invert {
    transform: scale(-1, -1);
}
#studio {
    display: flex;
    flex-direction: column;
    font: 400 32px/40px 'Josefin Sans','sans-serif';
    color: #111111;
    padding: 40px 0px 5px 20px;
}
#studio h3 {
    font: 600 14px/14px 'ヒラギノ角ゴ','sans-serif';
    color: #00B21B;
    margin: 0px 0px 30px 0px;
}
#studio img {
    margin-bottom: 45px;
}
#price {
    background-color: #00B21B;
    padding: 40px 0px 20px 0px;
}
#price dt {
    font: 300 18px/18px 'ヒラギノ角ゴ','sans-serif';
}
#price dd {
    font: 600 16px/16px 'ヒラギノ角ゴ','sans-serif';
    margin-top: 5px;
}
#price h2 {
    font: 400 40px/40px 'Josefin Sans','sans-serif';
    color: #FFFFFF;
    padding: 0px 0px 5px 20px;
}
#price h3 {
    font: 600 14px/14px 'ヒラギノ角ゴ','sans-serif';
    color: #FFFFFF;
    padding: 0px 0px 5px 20px;
}
#price h4 {
    font: 600 26px/26px 'ヒラギノ角ゴ','sans-serif';
    color: #00B21B;
    text-align: center;
    margin-bottom: 15px;
}
#price h5 {
    font: 400 48px/48px 'Josefin Sans','sans-serif';
    color: #111111;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}
#price h6 {
    font: 300 16px/16px 'ヒラギノ角ゴ','sans-serif';
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}
.priceWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
}
.once {
    background-color: #FFFFFF;
    color: #111111;
    width: 335px;
    height: 492px;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
.twice {
    background-color: #FFFFFF;
    color: #111111;
    width: 335px;
    height: 492px;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
.unlimited {
    background-color: #FFFFFF;
    color: #111111;
    width: 335px;
    height: 492px;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
.rcmbtnWrap {
    background-color: #FFFFFF;
    width: 256px;
    height: 45px;
    border: 2px solid #111111;
    border-radius: 50px;
    position: relative;
    top: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: -40px;
}
.rcm {
    font: 500 20px/16px 'Noto Sans JP','sans-serif';
    color: #00B21B;
    padding-top: 8px;
}
.border {
    text-align: center;
}
.border dt {
    padding-top: 30px;
    border-top: 1px solid #D8D8D8;
}
.border dd {
    padding-top: 5px;
    padding-bottom: 28px;
}
#faq {
    font: 400 40px/40px 'Josefin Sans','sans-serif';
    padding-top: 15px;
    padding-left: 20px;
}
#faq h3 {
    font: 600 12px/14px 'ヒラギノ角ゴ','sans-serif';
    color: #00B21B;
}
.border2 {
    font: 300 15px/24px 'ヒラギノ角ゴ','sans-serif';
}
.border2 dt {
    font: 300 15px/25.5px 'ヒラギノ角ゴ','sans-serif';
    padding-top: 20px;
    padding-bottom: 20px;
}
.border2 dd {
    display: flex;
    align-items: flex-start; 
    gap: 5px;
    padding-top: 2px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8;
}
.border2 dd:last-of-type {
    border-bottom: none;
}
.ddleft {
    display: block;
    width: 288px;
}
.green2 {
    font: 600 26px/26px 'Josefin Sans','sans-serif';
    color: #00B21B;
    margin-left: 3px;
    margin-right: 20px;
}
.green3 {
    font: 600 26px/26px 'Josefin Sans','sans-serif';
    color: #00B21B;
    margin-left: 5px;
    margin-right: 18px;
}
footer {
    background-color: #111111;
}
.btn3Wrap {
    background-color: #00B21B;
    width: 375px;
    height: 147px;
    text-align: center;
    padding-top: 63px;
}
.btn3 {
    background-color: #FFFFFF;
    color: #00B21B;
    font: 600 13px/13px 'ヒラギノ角ゴ','sans-serif';
    width: 300px;
    height: 53px;
    text-align: center;
    padding: 20px 65px 20px 66px;
    border-radius: 50px;
}
.logo2 {
    margin: 51px 137px 40px 139px;
}
.topbtnWrap {
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 315px;
    bottom: 20px;
}
.arrow {
  display: inline-block;
  padding: 20px 20px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: 15px;
  left: calc(50% - 1.0px);
  width: 3px;
  height: 10px;
  border-radius: 9999px;
  background-color: #00b21b;
  transform-origin: 50% 1px;
}
.arrow::before {
  transform: rotate(45deg);
}
.arrow::after {
  transform: rotate(-45deg);
}
#hamburger {
  position: relative;
  top: -393px;
  left: 330px;
  height: 20px;
  width: 24px;
  display: inline-block;
}
#hamburger span {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #00B21B;
}
#hamburger span:nth-of-type(1) {
  bottom: 16px;
}
#hamburger span:nth-of-type(2) {
  bottom: 8px;
}
#hamburger span:nth-of-type(3) {
  bottom: 0;
}